<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link href="/css/index.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="userList.html"></div>
<div th:switch="${users}">
    <h2 th:case="null">There are not users!</h2>
    <div th:case="*">
        <h2>List of users</h2>
        <table>
            <thead>
            <tr>
                <th style="width: 150px;">Email</th>
                <th style="width: 150px;">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.email}"></td>
                <td th:text="${user.userRole}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>